.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #040712;
  color: #ffffff;
  overflow-x: hidden;
}

.mainContent {
  flex: 1 0 auto;
  width: 100%;
  margin-top: 80px;
  position: relative;
  animation: pageTransition 0.5s ease-out;
  padding-top: 100px; /* Adjust this to match your Navbar height */
  min-height: 80vh;
}


@keyframes pageTransition {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .mainContent {
    margin-top: 70px;
  }
}